$accent: #0057a2;
$over-accent: #0056a27e;
$def-black: #000;
$def-bg: #121112;
$def-app-bg: #121212;
$def-drk-bg: #181818;
$btr-bg: #1e1e1e;
$tb-bar: #000000b9;
$scr-bar: #3f3f3f;
$line: #bbb;
$def-clr: #fff;
$def-tr: rgba(0, 0, 0, .2);